{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<th colspan="2">使用此窗体搜索机场距离：</th>

<tr><td>机场a：</td><td><input name="airport1" type='csv' width='60' list="F">
<datalist id="F"/>
   {% for item in F_list %}
    <option value="{{item}}">{{item}}</option>
     
   {% endfor %}
</datalist></td></tr>
<tr><td>机场b：</td><td><input name="airport2" type='csv' width='60' list="F">
<datalist id="F"/>
   {% for item in F_list %}
    <option value="{{item}}">{{item}}</option>
     
   {% endfor %}
</datalist></td></tr>

</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='搞吧！' type='SUBMIT'></p>
</form>

{% endblock %}
